@import "tailwindcss";

:root {
  --background: #242424;
  --foreground: #0c0c0c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #181818;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Libre Baskerville", Garamond, "Times New Roman", serif;
}

/* Custom gradient classes */

.gradient-bg {
  background: linear-gradient(to top right, #C315D6, #FC0339, #FC0339, #f59d7a);
}


.gradient-text {
  background: linear-gradient(to right, #C315D6, #FC0339, #FC0339,#FC0339, #f59d7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-button {
  background: linear-gradient(to right, #C315D6, #FC0339, #FC0339,#FC0339);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
